<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <title>Vue 学习</title>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>欢迎来到 Vue 大门前</h1>

        <div id="app">
            <h2>简单数据绑定</h2>
            {{ message }}
        </div>

        <div id="app2">
            <h2>v-xx 属性绑定</h2>
            <span v-bind:title="value">鼠标暂留提示信息</span>
        </div>

        <div id="app3">
            <h2>数据绑定到DOM 结构</h2>
            <p v-if="show">可设置显示/隐藏的控件</p>
        </div>

        <div id="app4">
            <h2>绑定数组渲染列表</h2>
            <ol>
                <li v-for="item in list">{{item.name}}</li>
            </ol>
        </div>

        <div id="app5">
            <h2>v-model实现表单输入和应用状态双向绑定</h2>
            <p>{{message}}</p>
            <input v-model="message" />
        </div>

    </body>
    
    <div id="app6">
        <h2>模板</h2>
        <ol>
            <my-component
                v-for="item in todo"
                v-bind:xx = "item"
                v-bind:key = "item.id" />
        </ol>
    </div>

    <div id="app7">
        <h2>生命周期钩子</h2>
        <input v-model="message" />
        <button v-on:click="callme">点我</button>
    </div>
    
    <script src="./index.js"></script>
    
</html>